@model IEnumerable<MovieTR.ViewModels.MTvm>


@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Movies</h4>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @item.moviesvm.Title




                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                           @* <img src="@item.Mimage" width="220" />*@
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text"><b>Title: </b>@item.moviesvm.Title</p>
                                <p class="card-text"><b>Theater: </b>@item.theatersvm.TheaterName</p>
                                
                                




                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
