/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-avojku5q6r] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background-image: url("/dist/img/icons.png");
}

a[b-avojku5q6r] {
  color: #0077cc;
}


.btn-primary[b-avojku5q6r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-avojku5q6r], .nav-pills .show > .nav-link[b-avojku5q6r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-avojku5q6r] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-avojku5q6r] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-avojku5q6r] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-avojku5q6r] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-avojku5q6r] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 30px;
  background-color: silver;
}
.dropbtn[b-avojku5q6r] {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown[b-avojku5q6r] {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content[b-avojku5q6r] {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a[b-avojku5q6r] {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover[b-avojku5q6r] {
            background-color: #f1f1f1
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content[b-avojku5q6r] {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn[b-avojku5q6r] {
    background-color: #3e8e41;
}